<body {
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    display: flex;
    padding: 30px;
    width: 400px;
    margin: 30px auto;
    justify-content: space-between;
    text-align: center;
    background: yellow;
    border-bottom: 5px solid gold;
    color: rgb(51, 49, 49);
}
.avatar {
    width: 150px;
}
